@{
  Layout = null;
}

<ul>
    <li><a href="/">Horae's Hoplites</a></li>
    <li>@Html.ActionLink("Bestiary", "Bestiary", "Home")</li>
    <li class="game_button"><span id="a">@Html.ActionLink("Game", "Index", "Game")</span><span id="b">@Html.ActionLink("PLAY!", "Index", "Game")</span></li>
    <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Home")</li>
</ul>
@Html.Partial("_LoginPartial")