@{
  Layout = null;
}
<ul>
    <li>@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar_heading" })</li>
    <li>@Html.ActionLink("Tutorial", "Tutorial", "Home")</li>
    <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Home")</li>
    <li>@Html.ActionLink("Game", "Game", "Home")</li>
</ul>
@*This page is prewrapped with <nav class="GlobalNav">*@
@Html.Partial("_LoginPartial")