@{
  Layout = null;
}

@*This page is prewrapped with <nav class="GlobalNav">*@

<ul>
    <li>@Html.ActionLink("Horae's Hoplites", "Index", "Home", null, new { @class = "navbar_heading" })</li>
    <li>@Html.ActionLink("Tutorial", "Tutorial", "Home")</li>
    <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Home")</li>
    <li>@Html.ActionLink("Game", "Index", "Game")</li>
</ul>
@Html.Partial("_LoginPartial")