<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title@Html.Raw(ViewBag.isHomepage == null ? " - Shaded Pixels" : "")</title>
  @Styles.Render("~/Content/css")
  @RenderSection("HeadContent", required: false)
</head>
<body @Html.Raw(ViewBag.isHomepage != null ? "class='Homepage'" : "")>
  <div id="PageOuterWrapper">
    <header id="Masthead">
      <div id="MastheadInner">
        @Html.Partial("_GlobalHeader")
      </div>
    </header>
    <div id="PageInnerWrapper">
     <div class="MainContent">
        @RenderBody()
      </div>
    </div> @*Closing PageInnerWrapper*@
    <footer id="GlobalFooter">
      @Html.Partial("_GlobalFooter")
    </footer>
  </div> @*Closing PageOuterWrapper*@
</body>
</html>
