<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title@Html.Raw(ViewBag.isHomepage == null ? " - Horae's Hoplites" : "")</title>
  @Styles.Render("~/Content/css")
  @RenderSection("HeadContent", required: false)

    <script src="~/Scripts/jquery-2.1.3.js"></script>

    <script>
        $(document).ready(function () {

            $('#login').hide()
            $('#loginLink').click(function () {
                $('#login').toggle();
            });

        //DO NOT DELETE THIS
           /* var marginLeftVal = $("#login").css("margin-left").valueOf();
            var marginLeftInt = parseInt(marginLeftVal.substring(0, marginLeftVal.length - 2));
            var previousWidth = $(window).width();
            var checkCurrentWidth = $(window).width();
            var incrementer = 0;

            console.log($(window).length);
            $(window).resize(function () {
                checkCurrentWidth = $(window).width();


                console.log(checkCurrentWidth + ' < this is the current width');

                if (checkCurrentWidth < 2000 && checkCurrentWidth > 1350) {



                    if ($(window).width() != previousWidth) {

                            console.log(incrementer);            

                            if ($(window).width() > previousWidth + 1) {

                                if (checkCurrentWidth < 1450) { incrementer = 10; }
                                else if (checkCurrentWidth < 1500) { incrementer = 6; }
                                else if (checkCurrentWidth < 1550) { incrementer = 6; }
                                else if (checkCurrentWidth < 1600) { incrementer = 6; }
                                else if (checkCurrentWidth < 1750) { incrementer = 5; }
                                else if (checkCurrentWidth < 1850) { incrementer = 5; }
                                else { incrementer = 2; }

                                marginLeftVal = parseInt(marginLeftVal) + incrementer;
                                $('#login').css("margin-left", marginLeftVal + 'px');
                                console.log(marginLeftVal);
                                previousWidth = $(window).width();
                            }

                            else if ($(window).width() < previousWidth + 1) {
                                if (checkCurrentWidth < 1450) { incrementer = -10; }
                                else if (checkCurrentWidth < 1500) { incrementer = -6; }
                                else if (checkCurrentWidth < 1550) { incrementer = -6; }
                                else if (checkCurrentWidth < 1600) { incrementer = -6; }
                                else if (checkCurrentWidth < 1750) { incrementer = -5; }
                                else if (checkCurrentWidth < 1850) { incrementer = -5; }
                                else { incrementer = 2; }

                                marginLeftVal = parseInt(marginLeftVal) + incrementer;
                                $('#login').css("margin-left", marginLeftVal + 'px');
                                console.log(marginLeftVal);
                                previousWidth = $(window).width();
                            }
                            
                        }
                        checkCurrentWidth = $(window).width();
                }
            });
     */
        });
    </script>

</head>
<body @Html.Raw(ViewBag.isHomepage != null ? "class='Homepage'" : "")>
    <div style="position:absolute" id="login">
        <div id="triangle"></div>
        <div id="logindiv">
            <h1>WELCOME</h1>
            @model Infinite_Sidescroller.Models.LoginViewModel
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary(true)
                <form>
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "USERNAME", type = "text" })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.PasswordFor(m => m.Password, new { type = "password", placeholder = "PASSWORD" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <input type="submit" value="ENTER" />
                </form>
                <h1>@Html.ActionLink("Haven't Registered?", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h1>
             }
         </div>
    </div>
    
  <div id="PageOuterWrapper">
    <header id="Masthead">
      <div id="MastheadInner">
        @Html.Partial("_GlobalHeader")
      </div>
    </header>
    <div id="PageInnerWrapper">
     <div class="MainContent">
        @RenderBody()
      </div>
    </div> @*Closing PageInnerWrapper*@
    <footer id="GlobalFooter">
      @Html.Partial("_GlobalFooter")
    </footer>
  </div> @*Closing PageOuterWrapper*@
	@RenderSection("Scripts", false)
</body>
</html>
