@model Infinite_Sidescroller.Models.RegisterViewModel
@{
  ViewBag.Title = "Register";
  ViewBag.isRegPage = true;
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
<div class="register_page_wrapper">
  @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "regform" }))
  {
    @Html.AntiForgeryToken()
    <h4 style="padding:1%;">Create an account</h4>
    <hr /><br />
    @Html.TextBoxFor(m => m.UserName, "", new { placeholder = "USERNAME" })
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.PasswordFor(m => m.Password, new { placeholder = "PASSWORD" })
    @Html.ValidationMessageFor(m => m.Password)
    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "CONFIRM PASSWORD" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
    @Html.ValidationSummary(true);
    <input type="submit" id="regbutton" value="Register" />
  }
</div>