@model Infinite_Sidescroller.Models.LeaderboardViewModel
@{
  ViewBag.Title = "Leaderboard";
}

@section Scripts {


}
<section class="leaderboard_wrapper">
  <div class="leaderboard_header">
    <h1>TOP SCORES LEADERBOARD</h1>
  </div>
  <section class="leaderboard single">
    <div class="leaderboard_title">Singleplayer</div>
    <table class="leaderboard_table singleplayer">
      <tbody>
        <tr>
          <th>Rank</th>
          <th>Score</th>
          <th>Username</th>
        </tr>
        @for (int i = 0; i < Model.SinglePlayer.Count; i++)
        {
          <tr @Html.Raw(i % 2 == 0 ? "class='alt_color'" : "")>
            <td>@(i+1)</td>
            <td>@Model.SinglePlayer[i].Score</td>
            <td>@Model.SinglePlayer[i].HostUsername</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
  <section class="leaderboard multi">
    <div class="leaderboard_title">Multiplayer</div>
    <table class="leaderboard_table multiplayer">
      <tbody>
        <tr>
          <th>Rank</th>
          <th>Score</th>
          <th>Username</th>
        </tr>
        @for (int i = 0; i < Model.Multiplayer.Count; i++)
        {
          <tr @Html.Raw(i % 2 == 0 ? "class='alt_color'" : "")>
            <td>@(i+1)</td>
            <td>@Model.Multiplayer[i].Score</td>
            <td>@Model.Multiplayer[i].PlayerNames</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</section>