@using Infinite_Sidescroller.Models;
@using Microsoft.AspNet.Identity;
@model Infinite_Sidescroller.Models.LobbyViewModel
@{
  ViewBag.Title = "Game Lobby";
}

<!--Lobby-->
<section class="lobby_section">
  <div class="lobby_wrapper">
    <table class="lobby">
      <tbody>
        <tr>
          <th>Host</th>
          <th>Players</th>
        </tr>

        @for (int i = 0; i < Model.LobbyGames.Count; i++)
        {
          <tr @Html.Raw(i % 2 == 0 ? "class='alt_row'" : "")>
            <td>@Model.LobbyGames[i].HostUsername</td>
            <td>@(Model.LobbyGames[i].PlayerNames.Split(',').Count())/4</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="lobby_actions_area">
    <!--Ali: You'll need to edit these-->
    <input type="button" class="lobby_buttons joingame" value="Join Game" />
    <input type="button" class="lobby_buttons creategame" value="Create Game" />
    @Html.ActionLink("Singleplayer", "Index", "Game", new { username = @User.Identity.GetUserName() }, new { @class = "lobby_buttons singleplayer" })
  </div>
</section>