@model Infinite_Sidescroller.Models.GameSessions
@{
  ViewBag.Title = "Game";
}
@section HeadContent{
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/gamescripts")
}

@section Scripts {
  <script>
    //Smooth Scroll for controls/tips/tutorial/whateveryouwanttocallit
    var ToggleControls = function (elem) {
      $(".controls").toggleClass("Shown");
    }
  </script>
  <script>
    //Load Game
    function start() {

      var data = $(".gamevariables").data();
      var song = document.getElementById("music");
      song.volume = 0.3;
      sidescroller_game.run(data["mode"], data["id"], data["hostname"], str.split(data["otherplayers"]));
    }
    $(document).ready(start);
  </script>
}
<input type="hidden" class="gamevariables" data-mode="@(Model.Type == true ? "multiplayer" : "singleplayer")" data-id="@Model.Id" data-hostname="@Model.HostUsername" data-otherplayers="@Model.PlayerNames" />
<audio id="music" src="~/GameCode/assets/art/adventure.mp3" preload="auto" loop autoplay></audio>
<section class="game_area">
  <div id="screenPosition" style="margin-top:180px; position:absolute;"></div>
  <div id="canvas_container">
    <!--Game-->
    <div class="playPause_button">
      <a href="javascript:void(0);" onclick="document.getElementById('music').muted = !document.getElementById('music').muted; return false"><img src="~/Content/Images/sound.png" id="mute_btn" /></a>
    </div>
    <a href="#screenPosition" id="default_position"></a>
    <canvas id="display_canvas"></canvas>

  </div>
  <section class="controls">
    <aside>
      <img src="~/content/images/arrowKeys.png" alt="Arrow Keys" />
      <p>UP: Jump. Press twice to double jump!</p>
      <p>Down: Press mid-air to do a vertical slam!</p>
      <p>Left/Right: Run left/right.</p>
    </aside>
  </section>
  <div class="controlsShowHide"><a onclick="ToggleControls()"><h4>CONTROLS</h4></a></div>
</section>
